@media  and (min width:739px) {
.section{
    background-color: #1f2630;
    padding:5px;
    font-family: binance Plex;
   
    margin:auto;
    color:#848e9c;
    width:80%;
    padding-left:18px;
    height:auto;
    font-size: 18px;

}
#B{
    background-color: 	#7DF9FF;
    padding: 1px 3px;;
}

#head{
    color:white;
}
.right{
    text-align:right;
    padding-right:10px;
}

.white{
    color:white;
}
.red{
    color:#f6465d;
}
.green{
    color:#0ecb81;
}
.big{
    font-size: 22px;
}
.row1{
    height: 30px;
    vertical-align: top;
}
}

@font-face {
    font-family: binance Plex;
    src: url(BinancePlex-Regular.ttf);
}
